<li
  [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': postLoveIts > 0,
    'list-group-item-danger': postLoveIts < 0
  }"
>
  <div>
    <h2 [ngStyle]="{ color: getTextColor() }">
      {{ postTitle }}
    </h2>
    <p>
      {{ postCreationDate | async | date: "short" }}
    </p>
  </div>
  <p [ngStyle]="{ color: getTextColor() }">
    {{ postContent }}
  </p>
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <button class="btn btn-success" (click)="onLike()">Love it</button>
      <button class="btn btn-danger" (click)="onDislike()">
        Don't love it
      </button>
    </div>
    <button class="btn btn-danger" (click)="onRemovePostItem()">
      Suprrimer ce posts
    </button>
  </div>
</li>
