<section>
  <ul class="list-group">
    <app-post-list-item
      *ngFor="let post of posts"
      [postId]="post.id"
      [postTitle]="post.title"
      [postContent]="post.content"
      [postLoveIts]="post.loveIts"
      postCreationDate="post.created_at"
    ></app-post-list-item>
  </ul>
  <div>
    <button class="btn btn-primary" (click)="onSaveAll()">
      Enregistrer les posts
    </button>
    <button class="btn btn-primary" (click)="onGetAll()">
      Récupérer les posts
    </button>
  </div>
</section>
