<section class="edit-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Ajouter un nouvel article</h2>
        <form>
          <div class="mb-3">
            <label class="form-label" for="title">Titre</label
            ><input class="form-control" type="text" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="content">Contenu</label
            ><textarea
              class="form-control"
              name="content"
              id="content"
              cols="30"
              rows="10"
            ></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
